extends ../index.pug

block form_new 
    form(action="/authors/create", method="post") 
        div.mb-3
            label.form-label Name 
            input.form-control(type="text", name="name")
        div.mb-3
            label.form-label Email
            input.form-control(type="text", name="email")
        div.mb-3
            label.form-label Image
            input.form-control(type="text", name="image")
        input.btn.btn-info(type="submit", value="Send")