extends ../index.pug

block authors
    div.container.mt-4
        .card.text-bg-warning(style='max-width: 100%')
            a.card-header.fw-bold.text-center(href="/authors/new/") New Author
        table.table
            thead
                tr
                    th ID 
                    th Name 
                    th Email 
                    th Image
                    th
             
            tbody 
                each author in authors
                    tr
                        td= author.authorid
                        td= author.name
                        td= author.email
                        td
                            img(src=author.image , style='width:40px; height: 40px')
                        td
                            a.btn.btn-info.btn-sm.me-2(href="/authors/edit/"+author.authorid) Edit
                            a.btn.btn-danger.btn-sm(href="/authors/delete/"+author.authorid) Delete
                else
                    p There is no author